{% extends 'home/base.html' %}
{% load format_helpers %}

{% block content %}

<div class="row" style="margin: 15px;">
    <div class="col-auto mr-auto">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter by Contest
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/users/">None</a>
              {% for contest in contests %}
                    <a class="dropdown-item" href="/users/?contest_id={{contest.contest_id}}">Contest - {{contest.start| date:"DATE_FORMAT"}} - {{contest.end| date:"DATE_FORMAT"}}</a>
              {% endfor %}
          </div>
        </div>
    </div>

    <div class="col-auto mr-auto">
        <!-- Contest info -->
        <div class="container-fluid" id="contest-title">
          {% if current_contest %}
            <h2>Contest - {{current_contest.start| date:"DATE_FORMAT"}} - {{current_contest.end| date:"DATE_FORMAT"}}</h2>
          {% else %}
            <h2 class="text-center">All users</h2>
          {% endif %}
        </div>
    </div>

    <!-- Download menu -->
    <div class="col-auto">
        <a class="btn btn-outline-info" href="{{download_url}}" role="button">
            Download as CSV
        </a>
    </div>
</div>

<div class="container-fluid" id="contest-maps-container">

    {% if current_contest %}

    <!-- JSON data (TODO: find alternative to stuffing data into div) -->
    <div style="display: none" id="active-by-zip" data-json="{{ active_by_zip }}"></div>
    <div style="display: none" id="all-users-by-zip" data-json="{{ all_users_by_zip }}"></div>
    <div style="display: none" id="new-signups-by-zip" data-json="{{ new_signups_by_zip }}"></div>
    <div style="display: none" id="steps-by-zip" data-json="{{ steps_by_zip }}"></div>

    <div class="row justify-content-center">
        <!-- D3 SVG: Choropleth (intensity) map of users -->
        <div class="col-lg-3 row justify-content-center">
            <svg id="intensity-map" width="380" height="300"></svg>
            <div id="map-label-1" class="row map-title">Participants by zip code</div>
        </div>

        <!-- Info box -->
        <div id="geo-info" class="col-lg-3">
            <h4 id="geo-info-name"></h4>
            <dl class="row">
                <dt class="col-sm-6">Total participants:</dt>
                <dd id="geo-info-participants" class="col-sm-2"></dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-6">Active participants:</dt>
                <dd id="geo-info-active" class="col-sm-2"></dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-6">New signups:</dt>
                <dd id="geo-info-newsignups" class="col-sm-2"></dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-6">Median steps:</dt>
                <dd id="geo-info-median-steps" class="col-sm-2"></dd>
            </dl>
        </div>

        <!-- D3 SVG: Choropleth (intensity) map of steps -->
        <div class="col-lg-3 row justify-content-center" style="margin-left: -75px;">
            <svg id="intensity-map-2" width="380" height="300"></svg>
            <div id="map-label-2" class="row map-title">Median steps by zip code</div>
        </div>
    </div>

    {% endif %}

</div>

<div class="container-fluid" style="padding: 25px;">
    <div class="home-row table-responsive" style="font-size: 1.2em">
        <table id="all_users" class="table table-striped display responsive">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">Zip</th>
                {% if include_testers %}
                <th scope="col">Tester</th>
                {% endif %}
                <th scope="col">SignUp Date</th>
                <th scope="col">New Signup</th>
                <th scope="col">Daily Walks</th>
                <th scope="col">Total Steps</th>
                <th scope="col">Total Dist(mi)</th>
                <th scope="col" class="rw-col">Rec Walks</th>
                <th scope="col" class="rw-col">Rec Steps</th>
                <th scope="col" class="rw-col">Rec Dist(mi)</th>
                <th scope="col" class="rw-col">Rec Time(min)</th>
                <!-- <th scope="col">Rec Avg speed(mph)</th> -->
            </tr>
            </thead>
            <tbody>
            {% for appuser in user_stats_list %}
            <tr>
                <td>{{appuser.account.name}}</td>
                <td>{{appuser.account.email}}</td>
                <td>{{appuser.account.age}}</td>
                <td>{{appuser.account.zip}}</td>
                {% if include_testers %}
                <td class="yesno">{{appuser.account.is_tester|yesno}}</td>
                {% endif %}
                <td>{{appuser.account.created | date:"DATE_FORMAT"}}</td>
                <td class="yesno">{{appuser.new_signup|yesno}}</td>
                <td>{{appuser.num_dws}}</td>
                <td>{{appuser.dw_steps}}</td>
                <td>{{appuser.dw_distance|floatformat}}</td>
                <td class="rw-col">{{appuser.num_rws}}</td>
                <td class="rw-col">{{appuser.rw_steps}}</td>
                <td class="rw-col">{{appuser.rw_distance|floatformat}}</td>
                <td class="rw-col">{{appuser.rw_time|floatformat}}</td>
                <!-- <td>{{appuser.rw_avg_speed|floatformat}}</td> -->
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block post_scripts %}
<script>
    // *** DATATABLE TOOLBAR (checkbox) ***
    const table = $('#all_users').DataTable({
      dom: "<'toolbar'>Blftrip",
    });

    const inputContainer = $('<div class="form-check">').css({
      padding: "6px",
      marginLeft: "30px",
    });
    inputContainer.append('<input id="hideRWCols" class="form-check-input" type="checkbox" onclick="toggleRW(this)" unchecked />');
    inputContainer.append($('<label class="form-check-label" for="hideRWCols">Show RW data</label>').css({
      "padding-left": "0.5rem",
    }));

    function toggleRW(el) {
      if (el.checked) {
        $(".rw-col").show();
      } else {
        $(".rw-col").hide();
      }
    }

    const toolbar = $('#all_users_wrapper > .toolbar')
      .html(inputContainer)
      .css("float", "right");

    // *** D3 ***
    // Map and count data
    const sf_geojson = "/static/SanFrancisco.Neighborhoods.json";
    // const userdata = "/data/users_agg.csv";
    const allUsersByZip = JSON.parse(document.getElementById("all-users-by-zip").getAttribute("data-json"));
    const sumUsersbyZip = Object.values(allUsersByZip).reduce((a, b) => a + b);
    const maxUsersByZip = Math.max(...Object.values(allUsersByZip));

    const activeByZip = JSON.parse(document.getElementById("active-by-zip").getAttribute("data-json"));
    const sumActivebyZip = Object.values(activeByZip).reduce((a, b) => a + b);
    const maxActiveByZip = Math.max(...Object.values(activeByZip));

    const newSignupsByZip = JSON.parse(document.getElementById("new-signups-by-zip").getAttribute("data-json"));
    const sumNewSignupsByZip = Object.values(newSignupsByZip).reduce((a, b) => a + b);
    const maxNewSignupsByZip = Math.max(...Object.values(newSignupsByZip));

    const stepsByZip = JSON.parse(document.getElementById("steps-by-zip").getAttribute("data-json"));
    const medianStepsByZip = Object.fromEntries(Object.entries(stepsByZip).map(elem => [elem[0], d3.median(elem[1])]));
    const maxMedianStepsByZip = Math.max(...Object.values(medianStepsByZip));
    // This is computed so we can show the median of all steps when no zip is selected
    const medianOfAllSteps = Math.round(d3.median(Object.values(stepsByZip).flat()));

    // The svg
    const svg = d3.select("svg#intensity-map"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

    // The other svg
    const svg2 = d3.select("svg#intensity-map-2");

    // Map and projection
    const path = d3.geoPath();
    const projection = d3.geoMercator()
        .scale(120000)
        .center([-122.44, 37.76])
        .translate([width / 2, height / 2]);

    // Data and color scale
    // const data = d3.map();
    const colorScale = d3.scaleLinear()
        .domain([1, Math.floor(maxUsersByZip)])
        .range(["#EEEEEE", "#702B84"]);
        // .range(d3.schemeBlues[7]);

    const colorScale2 = d3.scaleLinear()
        .domain([1, Math.floor(maxMedianStepsByZip)])
        .range(["#EEEEEE", "#2B388F"]);
        // .range(d3.schemePurples[7]);

    // Load external data and boot
    d3.queue()
        .defer(d3.json, sf_geojson)
        .await(ready);

    function updateNeighborhoodDetail(d) {
      const allUsers = allUsersByZip[d.id] || 0;
      const active = activeByZip[d.id] || 0;
      const newSignups = newSignupsByZip[d.id] || 0;
      const medianSteps = medianStepsByZip[d.id] || 0;
      d3.select("#geo-info-name").text(d.zip ? `${d.name} (${d.zip})` : "");
      d3.select("#geo-info-participants").text(allUsers);
      d3.select("#geo-info-active").text(active);
      d3.select("#geo-info-newsignups").text(newSignups);
      d3.select("#geo-info-median-steps").text(medianSteps.toLocaleString("en-US"));
    }

    function defaultNeighborhoodDetail() {
      d3.select("#geo-info-name").text("San Francisco");
      d3.select("#geo-info-participants").text(sumUsersbyZip);
      d3.select("#geo-info-active").text(sumActivebyZip);
      d3.select("#geo-info-newsignups").text(sumNewSignupsByZip);
      d3.select("#geo-info-median-steps").text(medianOfAllSteps.toLocaleString("en-US"));
    }

    function ready(error, topo) {
        defaultNeighborhoodDetail();

        // Draw the map
        svg.append("g")
            .selectAll("path")
            .data(topo.features)
            .enter()
            .append("path")
            // draw each neighborhood
            .attr("d", d3.geoPath()
                .projection(projection)
            )
            // set the color of each neighborhood
            .attr("fill", function (d) {
                // Keys of d: {id, type, properties: {id, neighborhood}}
                d.total = allUsersByZip[d.id] || 0;
                d.name = d.properties.neighborhood;
                d.zip = d.properties.id;
                return colorScale(d.total);
            })
            .on("mouseover", updateNeighborhoodDetail)
            .on("mouseout", defaultNeighborhoodDetail);

          svg2.append("g")
              .selectAll("path")
              .data(topo.features)
              .enter()
              .append("path")
              // draw each neighborhood
              .attr("d", d3.geoPath()
                  .projection(projection)
              )
              // set the color of each neighborhood
              .attr("fill", function (d) {
                  // Keys of d: {id, type, properties: {id, neighborhood}}
                  d.total = medianStepsByZip[d.id] || 0;
                  d.name = d.properties.neighborhood;
                  d.zip = d.properties.id;
                  return colorScale2(d.total);
              })
              .on("mouseover", updateNeighborhoodDetail)
              .on("mouseout", defaultNeighborhoodDetail);
    }

</script>
{% endblock %}
