{% extends 'home/base.html' %}
{% load format_helpers %}

{% block content %}

<div class="container all-users" style="padding: 25px;">
    <h1 class="text-center">All users</h1>
</div>

<div class="row" style="margin: 15px;">
    <div class="col-auto mr-auto">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter by Contest
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/users/">None</a>
              {% for contest in contests %}
                    <a class="dropdown-item" href="/users/?contest_id={{contest.contest_id}}">Contest - {{contest.start| date:"DATE_FORMAT"}} - {{contest.end| date:"DATE_FORMAT"}}</a>
              {% endfor %}
          </div>
        </div>
    </div>

    <div class="col-auto mr-auto">
        {% if current_contest %}
        <!-- Contest info -->
        <div class="container-fluid" style="padding: 15px; color: #CD6155">
            <h2>Contest - {{current_contest.start| date:"DATE_FORMAT"}} - {{current_contest.end| date:"DATE_FORMAT"}}</h2>
        </div>
        {% endif %}

        <!-- Choropleth (intensity) map of users -->
        <div class="container-fluid justify-content-center" id="map-container">
            <!-- JSON data (TODO: find alternative to stuffing data into div) -->
            <div style="display: none" id="zipCountData" data-json="{{ zipcounts }}"></div>
            <!-- D3 SVG -->
            <svg id="intensity-map" style="float: left;" width="400" height="300"></svg>
            <div id="geo-info" style="float: left; visibility: hidden; width: 125px; padding-top: 150px;"></div>
        </div>

            </div>
            <!-- Download menu -->
            <div class="col-auto">
                <a class="btn btn-outline-info" href="{{download_url}}" role="button">
                    Download
                </a>
            </div>
        </div>

<div class="container-fluid" style="padding: 25px;">
    <div class="home-row table-responsive" style="font-size: 1.2em">
        <table id="all_users" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">Zip</th>
                <th scope="col">SignUp Date</th>
                <th scope="col">Daily Walks</th>
                <th scope="col">Total Steps</th>
                <th scope="col">Total Dist(mi)</th>
                <th scope="col">Rec Walks</th>
                <th scope="col">Rec Steps</th>
                <th scope="col">Rec Dist(mi)</th>
                <th scope="col">Rec Time(min)</th>
                <th scope="col">Rec Avg speed(mph)</th>
            </tr>
            </thead>
            <tbody>
            {% for appuser in user_stats_list %}
            <tr>
                <td>{{appuser.account.name}}</td>
                <td>{{appuser.account.email}}</td>
                <td>{{appuser.account.age}}</td>
                <td>{{appuser.account.zip}}</td>
                <td>{{appuser.account.created | date:"DATE_FORMAT"}}</td>
                <td>{{appuser.num_dws}}</td>
                <td>{{appuser.dw_steps}}</td>
                <td>{{appuser.dw_distance|floatformat}}</td>
                <td>{{appuser.num_rws}}</td>
                <td>{{appuser.rw_steps}}</td>
                <td>{{appuser.rw_distance|floatformat}}</td>
                <td>{{appuser.rw_time|floatformat}}</td>
                <td>{{appuser.rw_avg_speed|floatformat}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block post_scripts %}
<script>$('#all_users').DataTable();</script>

<script>
    // Map and count data
    const sf_geojson = "/static/SanFrancisco.Neighborhoods.json";
    // const userdata = "/data/users_agg.csv";
    const counts = JSON.parse(document.getElementById("zipCountData").getAttribute("data-json"));
    const maxCount = Math.max(...Object.values(counts));

    // The svg
    const svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

    // Map and projection
    const path = d3.geoPath();
    const projection = d3.geoMercator()
        .scale(120000)
        .center([-122.44, 37.76])
        .translate([width / 2, height / 2]);

    // Data and color scale
    const data = d3.map();
    const colorScale = d3.scaleLinear()
        .domain([1, Math.floor(maxCount/5)])
        .range(d3.schemeBlues[7]);

    // Load external data and boot
    d3.queue()
        .defer(d3.json, sf_geojson)
        .await(ready);

    function ready(error, topo) {
        // Draw the map
        svg.append("g")
            .selectAll("path")
            .data(topo.features)
            .enter()
            .append("path")
            // draw each neighborhood
            .attr("d", d3.geoPath()
                .projection(projection)
            )
            // set the color of each neighborhood
            .attr("fill", function (d) {
                // Keys of d: {id, type, properties: {id, neighborhood}}
                d.total = counts[d.id] || 0;
                d.name = d.properties.neighborhood;
                return colorScale(d.total);
            })
            .on("mouseover", function(d) {
                d3.select("#geo-info").style("visibility", "visible")
                    .text(d.name + ": " + d.total);
            })
            .on("mouseout", function() {
                d3.select("#geo-info").style("visibility", "hidden");
            });
    }

</script>
{% endblock %}
