version: '3'
services:
  server:
    container_name: server
    command: bash -l -c "bin/init; nf start -j Procfile.dev"
    environment:
      - PORT=3000
    ports:
      - 3000:3000
    volumes:
      - .:/app
      - /app/client/node_modules
      - /app/node_modules
  coverage:
    image: python:3.8
    volumes:
      - .:/app
    working_dir: /app/htmlcov
    command: python -m http.server
    ports:
      - "8001:8000"
  db:
    image: postgres:12
    ports:
      - 5433:5432
