ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DATABASE_URL=postgresql://postgres@db/iwalk
DEBUG=1
SECRET_KEY=q!=ahgtraat*k4ytuniq)0892h7j5^2koqp55mh6p18$4344ks
TIME_ZONE=America/Los_Angeles
DEPLOY_ENV=development
SENTRY_DSN=
