version: 2.1

orbs:
  docker: circleci/docker@2.2.0

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.11.4
        environment:
          DATABASE_URL: "postgresql://postgres@localhost/webtool"
          SECRET_KEY: "secretkey"
        # This image MUST be in-sync with our Docker image for production
        # TODO: Use the same image as our dockerfile to test build instead of this
      - image: cimg/postgres:12.8
        environment: POSTGRES_HOST_AUTH_METHOD=trust
    steps:
      - checkout
      - run:
          name: Install Poetry
          command: |
            curl -sSL https://install.python-poetry.org | python3 - --version 1.8.2
      - run:
          name: Check valid poetry.lock
          command: |
            poetry check -vvv
      - restore_cache:
          keys:
            - deps-{{ checksum "poetry.lock" }}
      - run:
          name: Install Dependencies
          command: |
            poetry config virtualenvs.create false
            poetry install -vvv
      - save_cache:
          key: deps-{{ checksum "poetry.lock" }}
          paths:
            - /home/circleci/.cache/pypoetry/virtualenvs
      - run:
          name: Run linter checks
          command: |
            poetry run black --check .
            poetry run flake8 --count . 
      - run:
          name: Run Pytest, report coverage
          # make test and make coverage are redundant,
          # but make coverage actually doesn't fail the build if it fails; it just reports a lower
          # coverage percentage for failing short, but "succeeds"
          command: |
            make test
            make coverage
            poetry run coveralls
workflows:
  main:
    jobs:
      - build-and-test
