version: 2.1

orbs:
  docker: circleci/docker@2.2.0

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.11.1
        environment:
          DATABASE_URL: "postgresql://postgres@localhost/webtool"
          SECRET_KEY: "secretkey"
      - image: circleci/postgres:11
        environment:
          POSTGRES_HOST_AUTH_METHOD=trust
    steps:
      - checkout
      - run:
          name: Install latest Poetry
          command: |
            curl -sSL https://install.python-poetry.org | python3 -
      - restore_cache:
          keys:
            - deps-{{ checksum "poetry.lock" }}
      - run:
          name: Install Dependencies
          command: |
            poetry config virtualenvs.create false
            poetry install
      - save_cache:
          key: deps-{{ checksum "poetry.lock" }}
          paths:
            - /home/circleci/.cache/pypoetry/virtualenvs
      - run:
          name: Run linter checks
          command: |
            poetry run black --check home server manage.py
            poetry run flake8 --count home server manage.py
      - run:
          name: Run Pytest, report coverage
          command: |
            poetry run coverage run --omit="/home/circleci/.cache/pypoetry/virtualenvs/*" -m pytest
            poetry run coveralls

workflows:
  main:
    jobs:
      - build-and-test
