html, body {
    font-family: 'Rajdhani';
    height: 100%
}
.navbar {
    font-family: 'Exo';
    font-size: 1.25em;
}
.rw-col {
    display: none;
}
.yesno {
    text-transform: capitalize;
}
#contest-title {
    padding: 15px;
    color: #CD6155;
    text-align: center;
}
#geo-info {
    float: left;
    visibility: hidden;
    width: 300px;
    padding-top: 70px;
    margin-left: 50px;
}
